.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 450px;
    min-height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;

    @media screen and (min-width: 1600px){
        width: 528px;
        min-height: 581px;
    }
}


.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #2196F3;
    }
}



.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal__article {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;

    @media screen and (min-width: 1600px){
        font-size: 20px;
        line-height: 1.15;
    }
}


.modal-list {
    gap: 10px;
}

.modal__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 1px solid transparent;

    border-radius: 4px;
    height: 40px;
    width: 370px;
    padding-left: 42px;
    outline-offset: -1px;

    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline-color: #2196F3;
    }

    @media screen and (min-width: 1600px) {
        width: 448px;
    }
}



.modal__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__input:focus+&{
        fill: #2196F3;
    }
}

.modal__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;

    @media screen and (min-width: 1600px){

            font-size: 14px;
            line-height: 1.71;
        
            letter-spacing: 0.03em;  
    }
}


.modal__wrapper {
    position: relative;
    margin-bottom: 10px;
}

.modal__message {
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: 1px solid transparent;
    outline-offset: -1px;
    border-radius: 4px;
    padding: 12px 16px;
    margin-bottom: 20px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline-color: #2196F3;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        font-weight: 400;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.agreement {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.agreement__label {
    display: flex;
    align-items: center;

    font-weight: 400;

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.03em;

    color: #757575;
    user-select: none;

    gap: 7px;

    @media screen and (min-width: 1600px){
        font-size: 14px;
        line-height: 1.71;
    }
}







.agreement__checkbox {
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
}

.agreement__icon--uncheck {
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .agreement__checkbox:checked+.agreement__icon & {
        opacity: 0;
    }
}

.agreement__icon--check {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .agreement__checkbox:checked+.agreement__icon & {
        opacity: 1;
    }
}

.agreement__link {
    color: #2196F3;
    text-underline-offset: 3px;
}

.modal__btn {
    padding-left: 52px;
    padding-right: 52px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

