.container__header{
    display: flex;
}

.nav{
    @media screen and (max-width: 767px){
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.pages {
    display: flex;
}

.pages__item:not(:last-child) {
    margin-right: 50px;
}

.pages__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-black);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

.pages__link--current {
    color: var(--brand-color);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        background-color: var(--brand-color);
        width: 110%;
        height: 4px;
        bottom: -1px;
        left: -5%;
        border-radius: 2px;
    }
}

.page-header__contacts {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1599px){
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: column;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 768px) {
        gap: 50px;
    }
}

.contacts__item {
    display: block;


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--brand-black);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1600px){
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.contacts__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--title-gray);

    &:hover,
    &:focus {
        color: var(--brand-color);
    }
}

